/************************/
/* Header NavBar */
/************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 130rem;
  margin: 2.4rem auto;
  margin-bottom: 15rem;
}

.logo:link,
.logo:visited {
  font-family: 'Federo', sans-serif;
  font-size: 4.8rem;
  color: var(--first-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  border-bottom: 2px solid transparent;
}
.logo:hover,
.logo:active {
  border-bottom: 2px solid var(--first-color);
}

.middle-nav {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.middle-link:link,
.middle-link:visited {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
}

.middle-link:hover,
.middle-link:active {
  border-bottom: 2px solid var(--first-color);
}

.nav-btns {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

/************************/
/* Price plans */
/************************/

/*---- Price header */

.price-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
}

.switching-plan {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.plan-type {
  text-transform: uppercase;
  font-size: 2rem;
}

.switch {
  appearance: none;
  position: relative;
  width: 5.2rem;
  height: 3rem;
  border-radius: 2.5rem;
  background-color: var(--first-color);
  transition: all 0.3s;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.07);
}

.switch::after {
  background-color: var(--white-color);
  content: '';
  position: absolute;
  top: 50%;
  left: 29%;
  transform: translate(-50%, -50%);
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  transition: left 0.3s;
}

.switch:checked::after {
  left: 71%;
}

/*---- Price card */

.plan-card {
  background-color: var(--white-color);
  padding: 5.6rem;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  box-shadow: 0 2.4rem 3.6rem rgba(0, 0, 0, 0.05);
  margin-bottom: 9.6rem;
}

.plan-name {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 3.6rem;
}

.price {
  font-size: 8.6rem;
  font-weight: 500;
  display: none;
  gap: 2.4rem;
  line-height: 0.7;
}

.price.show {
  display: flex;
}

.money {
  font-size: 3.6rem;
  font-weight: 400;
}

.per {
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: 400;
  align-self: flex-end;
}

.plan-divider {
  height: 2px;
  width: 100%;
  background-color: var(--first-color);
  margin: 3.6rem 0;
}

.benefits-plan {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 3.6rem;
}

.benefits-plan li {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.new {
  font-size: 1.2rem;
  padding: 0.3rem 0.6rem;
  background-color: var(--accent-color);
  color: var(--white-color);
}

.btn.btn-plan {
  width: 100%;
  text-align: center;
  padding: 2.4rem 0;
  font-size: 1.8rem;
}

.best-plan::after {
  content: 'MOST POPULAR';
  color: var(--white-color);
  font-weight: 700;
  letter-spacing: 2px;
  position: absolute;
  top: 56px;
  right: -70px;
  background-color: var(--first-color);
  padding: 1.2rem 6.4rem;
  transform: rotate(45deg);
}
/* **************** */
/* COMPLEMENTS */
/* **************** */

.complements {
  margin-bottom: 9.6rem;
}

.heading-complements {
  text-align: center;
  margin-bottom: 4.8rem;
}

.complement {
  padding: 4.8rem;
  box-shadow: 0 0 4.8rem 1rem rgba(0, 0, 0, 0.05);
  margin-bottom: 1.2rem;
  border-radius: 0.8rem;

  display: flex;
  justify-content: space-between;
}

.header-complement {
  font-size: 2rem;
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 0.8rem;
}

.text-complement {
  color: #999;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.cost-complement {
  font-size: 3.6rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time-complement {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.link-more:link,
.link-more:visited {
  text-decoration: none;
  color: var(--first-color);
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: fit-content;
  border-bottom: 2px solid transparent;
  line-height: 1.4;
}

.link-more:hover,
.link-more:active {
  border-bottom: 2px solid var(--first-color);
}

/* **************** */
/* HELP */
/* **************** */

.help {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12.4rem 8.4rem;
  background-color: #f3fbff;
}

.heading-help {
  font-size: 4rem;
}

.btn.btn-help {
  padding: 2.4rem 5.4rem;
  border-radius: 4px;
}

/* **************** */
/* FAQ */
/* **************** */

.faq-section {
  width: 90rem;
  margin: 4.8rem auto;
  padding: 0 2.4rem;
  color: #444;
  font-size: 2.4rem;
  margin-bottom: 12.4rem;
}

.heading-faq {
  text-align: center;
  font-weight: 400;
  color: var(--first-color);
  margin-bottom: 4.8rem;
}
.faq {
  margin-bottom: 3rem;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 1.2rem;
}
.faq-question p {
  border-bottom: 2px solid transparent;
}
.faq-question:hover p {
  border-bottom: 2px solid #333;
}
.faq-icon {
  color: #ccc;
}

.faq-content {
  font-size: 1.8rem;
  line-height: 1.8;
  width: 95%;
  margin: 0 auto;
}
.hidden {
  display: none;
}

/* **************** */
/* FOOTER */
/* **************** */

.footer-title {
  font-weight: 600;
  margin-bottom: 4.8rem;
  color: #333;
}

.free-resources {
  justify-self: center;
}
.footer-bonsai {
  justify-self: end;
}

.footer-subtitle {
  color: #999;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.templates {
  color: #333;
}

.footer-list {
  list-style: none;
  margin-bottom: 3rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #777;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: fit-content;
  border-bottom: 2px solid transparent;
  line-height: 1.2;
}

.footer-link:hover,
.footer-link:active {
  border-bottom: 2px solid #777;
}

.footer-icon {
  font-size: 2rem;
}
